@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	width: 100%;
}

.bannerContainer {
	width: 100%;
	height: 800px;
	background-image: url("./assets/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass\ 1.svg");
	background-position: center;
	background-size: cover;
	padding: 3% 12%;
}

.navBar {
	display: flex;
	justify-content: space-between;
}

.links {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	width: 30px;
	height: 30px;
	display: none;
}
.link {
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	cursor: pointer;
}

.title-logo {
	font-size: 30px;
	font-family: "Wendy One", sans-serif;
	color: #fff;
	cursor: pointer;
}

.banner-infoContainer {
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 100px;
}

.welcome-text {
	font-size: 30px;
	color: white;
	font-family: "Roboto", sans-serif;
}

.title {
	font-size: 50px;
	font-family: "Wendy One", sans-serif;
	color: #fff;
}

.sub-title {
	font-size: 30px;
	color: white;
	font-family: "Roboto", sans-serif;
}

.book-now-btn {
	height: 35px;
	width: 120px;
	border-radius: 8px;
	border: none;
	outline: none;
	background-color: #feb035;
	color: #fff;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.titles-section {
	padding: 40px 0px;
	text-align: center;
}

.title-heading {
	color: #000;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	padding-bottom: 20px;
}

.title-sub-heading {
	color: #feb035;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}

.photographyContainer {
	display: flex;
	justify-content: space-between;
	padding: 0px 12%;
}

.col {
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.detailsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	font-family: "Roboto", sans-serif;
	color: black;
}
.imgContainer {
	width: 100%;
}

.imgContainer img {
	width: 100%;
}

.photograph-title {
	font-size: 25px;
}

.photograph-description {
	font-size: 12px;
	text-align: center;
	padding: 0px 25px;
	font-weight: 500;
}

.view-more {
	width: 100px;
	height: 30px;
	background-color: #feb035;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 16px;
	color: #fff;
}

.story-section {
	margin-bottom: 60px;
}
.story-container {
	padding: 0px 12%;
	display: flex;
	justify-content: space-between;
}

.info {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.description {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

.read-more-btn {
	width: 120px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: #feb035;
	color: #fff;
	font-size: 18px;
}

.info-img-container {
	width: 48%;
}

.info-img-container img {
	width: 100%;
}

.footer {
	padding: 5% 12%;
	background-color: #000;
	display: flex;
	justify-content: space-between;
}

.about-container {
	width: 35%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-title-logo {
	font-size: 2em;
	font-family: "Wendy One", sans-serif;
	color: #fff;
}

.footer-subTitle {
	font-family: "Roboto", sans-serif;
	color: #fff;
}

.follow-us-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.follow-us {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

.social {
	display: flex;
	gap: 10px;
}

.social img {
	width: 40px;
}
.useful-links-container,
.imp-links-container {
	width: 25%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.useful-links,
.imp-links {
	color: #fff;
	font-size: 25px;
	font-family: "Roboto", sans-serif;
}

.useful-links-container ul a,
.imp-links-container ul a {
	text-decoration: none;
}
.useful-links-container ul,
.imp-links-container ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.useful-links-container ul li,
.imp-links-container ul li {
	list-style-type: none;
	color: #fff;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}

@media screen and (min-width: 1500px) {
	.description {
		font-size: 22px;
		line-height: 26px;
	}
	.useful-links-container ul li,
	.imp-links-container ul li {
		font-size: 22px;
	}
	.useful-links-container ul,
	.imp-links-container ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.footer-title-logo {
		font-size: 40px;
	}

	.footer-subTitle {
		font-size: 20px;
	}

	.follow-us-container {
		gap: 20px;
	}

	.follow-us {
		font-size: 30px;
	}

	.social {
		display: flex;
		gap: 20px;
	}

	.social img {
		width: 40px;
	}
}

@media Screen and (min-width: 1300px) {
	.title-logo {
		font-size: 35px;
	}
	.link {
		font-size: 18px;
	}
	.welcome-text {
		font-size: 35px;
	}

	.title {
		font-size: 60px;
	}

	.sub-title {
		font-size: 35px;
	}
	.title-heading {
		font-size: 40px;
		padding-bottom: 30px;
	}

	.title-sub-heading {
		font-size: 25px;
	}
	.photograph-title {
		font-size: 25px;
	}

	.photograph-description {
		font-size: 16px;
	}

	.view-more {
		width: 100px;
		height: 35px;
		font-size: 16px;
	}
	.useful-links-container,
	.imp-links-container {
		gap: 25px;
	}

	.useful-links,
	.imp-links {
		font-size: 30px;
	}
}

@media Screen and (min-width: 760px) and (max-width: 1300px) {
	.bannerContainer {
		height: 650px;
	}

	.title-logo {
		font-size: 25px;
	}
	.link {
		font-size: 12px;
	}
	.welcome-text {
		font-size: 25px;
	}

	.title {
		font-size: 45px;
	}

	.sub-title {
		font-size: 25px;
	}
	.title-heading {
		font-size: 35px;
		padding-bottom: 25px;
	}

	.title-sub-heading {
		font-size: 25px;
	}
	.photograph-title {
		font-size: 14px;
	}

	.photograph-description {
		font-size: 10px;
		padding: 0px 10px;
	}

	.view-more {
		width: 60px;
		height: 25px;
		font-size: 10px;
	}
	.description {
		font-size: 10px;
		line-height: 15px;
	}
	.read-more-btn {
		width: 80px;
		height: 30px;
		font-size: 14px;
	}
	.useful-links-container,
	.imp-links-container {
		gap: 20px;
	}

	.useful-links,
	.imp-links {
		font-size: 25px;
	}
	.footer-title-logo {
		font-size: 30px;
	}

	.footer-subTitle {
		font-size: 15px;
	}

	.follow-us-container {
		gap: 10px;
	}

	.follow-us {
		font-size: 20px;
	}

	.social {
		display: flex;
		gap: 10px;
	}

	.social img {
		width: 30px;
	}
}

@media Screen and (min-width: 480px) and (max-width: 760px) {
	.bannerContainer {
		height: 400px;
	}
	.links {
		display: none;
	}
	.menu {
		width: 20px;
		height: 20px;
		display: block;
	}
	.title-logo {
		font-size: 18px;
	}
	.welcome-text {
		font-size: 20px;
	}

	.title {
		font-size: 30px;
	}

	.sub-title {
		font-size: 20px;
	}
	.book-now-btn {
		width: 80px;
		font-size: 14px;
	}
	.title-heading {
		font-size: 22px;
		padding-bottom: 15px;
	}

	.title-sub-heading {
		font-size: 18px;
	}
	.photographyContainer {
		flex-wrap: wrap;
		gap: 30px;
	}
	.col {
		width: 200px;
	}
	.photograph-title {
		font-size: 16px;
	}

	.photograph-description {
		font-size: 10px;
		padding: 0px 10px;
	}

	.view-more {
		width: 50px;
		height: 22px;
		font-size: 8px;
	}
	.story-container {
		width: 100%;
		flex-direction: column-reverse;
		gap: 30px;
	}
	.info,
	.info-img-container {
		width: 100%;
	}
	.info {
		gap: 20px;
	}
	.description {
		font-size: 12px;
		line-height: 18px;
	}
	.read-more-btn {
		width: 80px;
		height: 30px;
		font-size: 14px;
	}
	.footer {
		flex-direction: column;
		gap: 40px;
	}
}

@media screen and (min-width: 480px) and (max-width: 580px) {
	.col {
		width: 160px;
	}
	.photograph-title {
		font-size: 14px;
	}
	.photograph-description {
		font-size: 10px;
	}
}

@media screen and (min-width: 280px) and (max-width: 480px) {
	.bannerContainer {
		height: 200px;
	}
	.banner-infoContainer {
		margin-top: 20px;
		height: 70%;
	}
	.links {
		display: none;
	}
	.menu {
		width: 20px;
		height: 20px;
		display: block;
	}
	.title-logo {
		font-size: 16px;
	}
	.welcome-text {
		font-size: 16px;
	}
	.title {
		font-size: 24px;
	}
	.sub-title {
		font-size: 10px;
	}
	.book-now-btn {
		width: 60px;
		height: 25px;
		font-size: 10px;
	}

	.title-heading {
		font-size: 14px;
		padding-bottom: 10px;
	}
	.title-sub-heading {
		font-size: 10px;
	}
	.photographyContainer {
		flex-direction: column;
		gap: 20px;
	}
	.col {
		width: 100%;
	}
	.photograph-title {
		font-size: 20px;
	}
	.photograph-description {
		font-size: 12px;
	}
	.view-more {
		width: 60px;
		height: 25px;
		font-size: 10px;
	}
	.story-container {
		flex-direction: column-reverse;
		gap: 10px;
	}
	.info,
	.info-img-container {
		width: 100%;
	}
	.info {
		gap: 10px;
	}
	.description {
		font-size: 12px;
		line-height: 16px;
	}
	.read-more-btn {
		width: 70px;
		height: 25px;
		font-size: 12px;
	}

	.footer {
		flex-direction: column;
		gap: 40px;
		padding-bottom: 30px;
	}

	.about-container {
		width: 100%;
		gap: 20px;
	}

	.footer-title-logo {
		font-size: 25px;
	}

	.footer-subTitle {
		font-size: 14px;
	}

	.follow-us {
		font-size: 14px;
	}

	.social {
		gap: 15px;
	}

	.social img {
		width: 20px;
	}
	.useful-links-container,
	.imp-links-container {
		width: 100%;
		gap: 10px;
	}

	.useful-links,
	.imp-links {
		font-size: 20px;
	}
}
